.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.content-product-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100vw;
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.modal-product-form .modal-content {
  background-color: transparent;
  border: none;
}

.modal-product-form .modal-dialog {
  backdrop-filter: blur(5px);
}

.header-product-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-product-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.text-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-header {
  width: 60%;
}
